# Exercises

Now that, you have known some basics of python, try to do the following exercises. These exercise questions are not limited to the functions that are given above. You have to think for the solutions and search for the functions that you need to use. In this way, you will learn a lot of operations of different data
structures such as lists, dictionaries etc. This will aid you to be a better developer in python programming language as well as data analytic domain.

## Exercise on Loops
1. Display Fibonacci series up to 10 terms.

In [ ]:
def Fibonacci(n):

    # Check if input is 0 then it will
    if n < 0:
        print("Incorrect input")

    # Check if n is 0
    elif n == 0:
        return 0

    # Check if n is 1,2
    # it will return 1
    elif n == 1 or n == 2:
        return 1

    else:
        return Fibonacci(n-1) + Fibonacci(n-2)


print(Fibonacci(10))

55

2. Find the factorial of a given number. Ask the user to provide the number.

In [ ]:
def fact(num):
  for i in range(1, num):
    num *= i
  return num

num = int(input("Enter the number: "))
print(fact(num))

Enter the number: 5
120

3. Write a program to print a right angle triangle using the for loop.

In [ ]:
def r_triangle(num):
  for i in range(1, num+1):
    print("*" * i)

num = int(input("Enter a number :"))
r_triangle(num)

Enter a number :5
*
**
***
****
*****

## Exercise on Functions
1. Make a simple calculator that can add, subtract, multiply and divide two numbers using function.

In [ ]:
def add(num1, num2):
  return num1 + num2

def sub(num1, num2):
  return num1 - num2

def mul(num1, num2):
  return num1 * num2

def div(num1, num2):
  return num1 / num2

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

choice = int(input("Enter your choice: \n1. Add\n2. Subtract\n3. Multiply\n4. Divide\n"))

if(choice == 1):
  print(add(num1, num2))
elif(choice == 2):
  print(sub(num1, num2))
elif(choice == 3):
  print(mul(num1, num2))
elif(choice == 4):
  print("Answer: ",div(num1, num2))
else:
  print("Invalid choice")

Enter the first number: 21
Enter the second number: 3
Enter your choice:
1. Add
2. Subtract
3. Multiply
4. Divide
4
Answer:  7.0


## Exercise on List and Dictionaries
1. Remove the first duplicate element of a list

In [ ]:
def remove_first_duplicate(my_list):
  seen = set()
  result = []
  for item in my_list:
    if item in seen:
      seen.remove(item)
      continue
    seen.add(item)
    result.append(item)
  return result


my_list = [12, 12, 43, 65, 32, 32, 12]
print("Original list = ", my_list)
result = remove_first_duplicate(my_list)
print("List after removing first duplicate element = ", result)

Original list =  [12, 12, 43, 65, 32, 32, 12]
List after removing first duplicate element =  [12, 43, 65, 32, 12]

2. Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.
   ```python
   sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
   keys = ["name", "salary"]
   ```
   Expected Output: `{'name': 'Anderson', 'salary': 5000}`

In [ ]:
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
keys = ["name", "salary"]

new_dict = {}
for key in keys:
  new_dict[key] = sample_dict[key]
print(new_dict)

{'name': 'Anderson', 'salary': 5000}

3. Write a Python program to convert two lists into a dictionary in a way that item from list_one is the key and item from list_two is the value.
   ```python
   list_one = ['one', 'two', 'three']
   list_two = [1, 2, 3]
   ```
   Expected Output: `{'one': 1, 'two': 2, 'three': 3}`

In [ ]:
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]
new_dict ={}
for key, value in zip(list_one, list_two):
  new_dict[key] = value

print(new_dict)

{'one': 1, 'two': 2, 'three': 3}